.header .container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation-list-link,
.contact-link-mail,
.contact-link-tel {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 33px;

  transition: color $time $animation-function,
    background-color $time $animation-function;
}

/*====== icon mail & tel svg======*/

.mail-icon,
.tel-icon {
  display: inline-block;
  justify-content: center;
  align-items: center;
  content: "";
  margin-right: 10px;
}

.contact-link-mail,
.contact-link-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;

  transition: color $time $animation-function,
    background-color $time $animation-function;
}

.contact-link-mail .mail-icon,
.contact-link-tel .tel-icon {
  fill: currentcolor;

  transition: fill $time $animation-function,
    background-color $time $animation-function;
}

//nav
.navigation,
.navigation-list,
.navigation-list-header {
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.navigation-list-link,
.contact-link-tel,
.contact-link-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  transition: color $time $animation-function,
    background-color $time $animation-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation-list-link {
  color: $title-text-color;
}
